@charset "UTF-8";
/**
 * Copyright 2017 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */

@mixin tableOfContent {

    @extend %softAction;

    .leos-toc-tree-status {
        background:$GREY;
        text-align:center;
        border-top:1px solid $G_BORDER_COLOR;

        &.successful {
            color:$GREEN_COLOR;
        }

        &.error {
            color:$RED_COLOR;
        }
    }

    .leos-toc-editor {
        padding: 0px 7px 7px 7px;
        color: $DARK_SLATE_GREY;

        .v-panel-caption {
            box-shadow: none;
        }

        [class*="margin-top"] > tbody > [class*="firstrow"] > td {
        	padding-top: 0px;
        }

        [class*="margin-bottom"] > tbody > [class*="lastrow"] > td {
            padding-bottom: 0px;
        }
    }

    .leos-toc-panel {
        .v-panel-caption {
            box-shadow: none;
        }
    }

    .leos-toc-user-coedition {
        user-select: none;
        cursor: default;
        color: $HEADER_BLUE;
        position: absolute;
        left: -15px;
    }

    .v-treegrid-cell-content {
        position: relative;
    }

    .v-treegrid-expander.collapsed + .v-treegrid-cell-content > .leos-toc-user-coedition,
        .v-treegrid-expander.expanded + .v-treegrid-cell-content > .leos-toc-user-coedition {
        left: -30px;
    }

    .leos-toc-user-coedition-self-user {
        color: $GREY_COLOUR;
    }

    a.leos-toc-user-coedition-lync {
        color: white;
        text-decoration: underline;
    }

    a.leos-toc-user-coedition-lync:hover {
        color: $LIGHT_BLUE;
    }

    .leos-toc-no-expander-icon .collapsed {
        visibility: hidden;
    }

    .v-treegrid-row-drag-top:before{
        font-family: "Vaadin-Icons";
        content:'\e7b2';
        font-weight: bold;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #1d9dff;
        pointer-events: none;
        border: 1px solid #1d9dff;
        color: #1d9dff;
        z-index: 10;
    }

    .v-treegrid-row-drag-bottom:after {
        font-family: "Vaadin-Icons";
        content:'\e7af';
        font-weight: bold;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #0066A5;
        pointer-events: none;
        border: 1px solid #0066A5;
        color: #0066A5;
        z-index: 10;
    }
}