// Layout margins
// -------------------------
$layout-h-margin: 5px;
$highlight-border-size: 1px;
$highlight-color: #FDD7DF;
$highlight-border-color: #AF979D;
$highlight-color-second: #FCABBD;
$highlight-border-color-second: #A5737E;
$highlight-color-third: #FF7C99;
$highlight-border-color-third: #A74C62;
$highlight-color-fourth: #E96783;
$highlight-border-color-fourth: #9F4A5E;
$highlight-border-color-focus: #77AABB;
$leos-highlight-color: #FFFFC4;
$leos-highlight-border-color: #D5D59E;
$leos-annotation-background-color: #FFFFCC;
$leos-suggestion-border-color: #F2DEC8;
$leos-annotation-text-color: #595959;
$leos-btn-text-color: #004697;
$leos-hover-btn-text-color: #298ABF;
$leos-processed-annotation-background-color: #D3D3D3;
$MAIN_BLUE: #0066A5;
$LIGHT_BLUE: #7bd2f6;
$BLUE_CLEAR: #BDE8FA;
$BLUE_MILESTONE_TITLE:#0071E0;

// Colors 
// -------------------------
$smoke-white: #F5F5F5;