@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
$ACTION_BORDER:#ADBDCE;

%articleNumber {
    //display: block;
    text-align: left;
    font-style: normal;
	font-weight: bold; 
    /*padding: 18pt 5pt 6pt 0pt;    cuarentena */
    //padding-top: 18pt;
    padding-bottom: 6pt;   
} 

%articleHeading{
    text-align: center;
    font-style: italic;
    padding-top: 6pt;
    padding-bottom: 6pt;    
}  

//--------------------------------XML article---------------------------------/
%xmlArticle {
    article {
        display: block;
        text-align: left;
		margin-bottom : 15px;
        book, title, akntitle, chapter, section {
            & > num {
                width: 100%;
                text-align: center;
//                display: block;
				display: inline-block;
                font-size: 12pt;
                font-weight: bold;
            }
            & > heading {
                font-size: 12pt;
                font-weight: bold;
            }
        }       
        
        list point:first-child {
        	margin-top: 10px !important;
        }
        
        list point:last-child {
        	margin-bottom : 10px;
        }
        
        point{
			display: block;
            border-color: $ACTION_BORDER;
        	border: solid 1px transparent;
        }
        
        paragraph{
        	text-indent: 35px;
        	border-color: $ACTION_BORDER;
        	border: solid 1px transparent;
        	border-top: solid 7px transparent;
        	border-bottom: solid 7px transparent;/**cuarentena */
            & > num{
                & + subparagraph {
                    & ~ subparagraph{
                        display: block;
                    }
                }
            }
        list{
                point{
                    & > num{
                        padding-bottom: 0px;
                        padding-top: 0px;
                        padding-left: 3px;
    					margin-right: 5px;	
                    }
                    point{
                        padding-left: 0px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        text-indent: 35px;
                    }
                }
                content{
                    aknp{
                    	/**text-indent: 0px;*/
                    	padding-bottom: 0px;
                    	padding-top: 0px;
                    }
                }
            }
            
            num + subparagraph ~ subparagraph > content > aknp {
    			text-indent: 0px;
    		}
        }
        
        list {
        	point {
        			list {
        				point {
        					list {
        						point {
        							list {
        								point {
               		 						content {
        		 								aknp {
        		 								text-indent: 35px;
        		 							}
        		 						}
        		 					}
        		 				}
        		 			}
        		 		}
        			}
        		}
        	}
        }

        num +  content > aknp {
    			text-indent: 0px;
    		}
    	num + subparagraph > content > aknp {
    			text-indent: 0px;
    		}
        & > num {
            @extend %articleNumber;
        }
        & > heading {
            @extend %articleHeading;
        }
    }

    #block_p_dispositiva{
        text-align: center;
         #dis_gen {
            font-weight: bold;
        }
    }
}

//--------------------------------Editor article------------------------------/
%editorArticle {
    article {
        .akn-article-num {
            @extend %articleNumber;
            @extend %inheritTypeSetting;
            margin: 0 !important; //override default h1 margin
        }

        .akn-article-heading {
            @extend %articleHeading;
            @extend %inheritTypeSetting;
            margin: 0 !important; //override default h2 margin
        }
    }
}

%inheritTypeSetting {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

//--------------------------------Showblock article---------------------------/
%showblockArticle {
    article {
        @include blockOutline("ARTICLE");
    }
}
