@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- XML Styles --------------------------------//
%xmlAGECantoDoradoImage {
	img {
		//mgm Tamaño en px para el escudo. en z-index 2 para que no afecte al resto de elementos de la plantilla, posición absoluta y coordenadas iz-abajo 0:1 
	    width: 125px;
   	 	//z-index: 2;
    	position: absolute;
    	left: 0px;
    	//padding-top: 9em; //Colocado al lado del bloque de formula
		//padding-top: 120px;
		margin-top: 120px;
    }
    img:before {
        content: "Image preview not available: \A Title: " attr(title) "\A Alternative: " attr(alt);
        white-space: pre;
    }

// es importante quitarse los before para las pruebas y para todo 
}

//--------------------------------Editor table--------------------------------/

//--------------------------------Showblock table-----------------------------/

