@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//--------------------------------XML preamble--------------------------------/
%xmlAGECantoDoradopreface {
    preface {
        display: block;
        padding-top: 24pt;
        padding-bottom: 14pt; // extra spacing for improved readability
		position: relative; 
        & > * {
            display: block;
        }
		
        & > formula {
			//mgm Padding del bloque formula:
			border: 2px solid black;
			margin-left: 2em;
			min-height: 100px;
        	& > p, & > aknp {
			    width: 100%;
			    display: block; //inline-block sale mal al exportar a pdf. 
				padding-top: 0.5em;
				padding-bottom: 0em; 
				padding-left: 1em; 
				padding-right: 1em; 
        	}

			//mgm Estilos especificos de los parrafos ordenados del elemento <formula>    	
			[id="preface__formula_1__p"]{
				text-align: center;
			}
			[id="preface__formula_2__p"]{
				text-align: left;
			}
			[id="preface__formula_3__p"]{
				text-align: justify;
				font-style: italic;
			}
        }
        
		// mgm Referencia al container que tiene dentro refers to state
		container {
			margin-bottom: 3em;
			text-align: center;
			margin-top: -15%;
		}
		
		// mgm Referencia a: ~State (Titulo del pdf)
		[refersTo="~State"]{
	        text-align: center;
			font-size: 20px;
    	}   
		
    }

	preamble {
		 formula {
        	& > p, & > aknp {
		    width: 100%;
		    text-align: justify;
		    display: inline-block;
        	}
        }
	}
}

//--------------------------------Editor preamble-----------------------------/


//--------------------------------Showblock preamble--------------------------/

