@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
$RECITAL_SPACING: 0px; //En el pdf aparece el texto por debajo del escudo, para eso tenemos que arrastrar el texto hacia el borde.
$RECITAL_SPACING2: -30px; //En el pdf aparece el texto por debajo del escudo, para eso tenemos que arrastrar el texto hacia el borde.

//------------------------------- XML Styles --------------------------------//
%xmlAGECantoDoradoRecital {
    recital {
        display:block;
        & > num {
            @extend %paddedText;
			width: 100%;
   			text-align: center; // la combinación de text-align:center y float:right hace que el numero aparezca en el centro 
			float: right; 
//          min-width: $RECITAL_SPACING;
//          float: left;
//			display:none; //No queremos que se pinten los números de los recitals.
        }
        & > aknP, & > p {
            @extend %paddedText;
            display: block;
            margin-left: $RECITAL_SPACING;   
			text-indent: 2em; //Margen lateral de la primera linea
        }
    }    
}

%tocAGECantoDoradoRecital {
    recital {
        & > num {
            @extend %clearTopText;
        }
        & > aknP, & > p {
            @extend %clearTopText;
        }
    }
    //in toc recital tag is missing so we scope: .leos-toc-content .toc-content-area > div > p
    & > div > num {
        @extend %clearTopText;
    }
    & > div > aknP, & > div > p {
        @extend %clearTopText;
    }
}

//------------------------------- Editor Styles -----------------------------//
%editorAGECantoDoradoRecital {
    p[data-akn-name="recital"] { 
        @extend %paddedText;
        padding-left: $RECITAL_SPACING;

        &:before {
            color: $GREY_COLOR;
            content: attr(data-akn-num);
            min-width: $RECITAL_SPACING;
            margin-left: -$RECITAL_SPACING;
            float: left;
        }
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockAGECantoDoradoRecital {
    div[data-akn-name=recitals] {
        p[data-akn-name="recital"] {
            @include blockOutline("RECITAL", $RECITAL_SPACING);
        }
    }
}
