@charset "UTF-8";
/**
 * Copyright 2020 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//AGE

@mixin AGECantoDoradoexportPdf {    

    @page {
		size: A4;
		margin-top: 0.5cm;
		margin-bottom: 4cm;
		margin-left: 3.5cm; 
        margin-right: 3.5cm;
		padding: 0;
		@bottom-left {
			margin-top: -3.5cm;
			margin-left: -1cm; 
        	content: "VºBº:";
		}
    	@bottom-right {
			margin-right: -2.5cm; 
			margin-bottom: -2cm;
//        	content: "Página " counter(page) " of " counter(pages);
			content: counter(page);
		}
    }

//	.exportpdf doc{
//		font-size: 13px;
//	}

	.exportpdf preamble, aknbody, conclusions {
		margin: 0px;
		padding: 0px;
	}	
	
	.exportpdf citations citation aknp location {
		display: inline-block;
	}	

    .exportpdf preface { 
		//reinicio de estilos:
		padding-top: 0em !important;
		padding-left: 0em !important; 
		padding-right: 0em !important; 
		width: 100%  !important; 
		//Estilos
		margin: 0px;
		& > formula container{
			margin-top: 0cm !important;
		}
		& > longtitle {
			display: block;
		}
    }
	.exportpdf preamble { // Es la cabecera, donde está el escudo y el cuadrado con el titulo
		//reinicio de estilos:
		padding-top: 0em !important;
		padding-left: 0em !important; 
		padding-right: 0em !important; 
		width: 100%  !important;
	}
	
	.exportpdf proviso paragraph {
		border: none !important;
	}
	
	.exportpdf paragraph aknp {
		padding-left: 0px !important;
	}
	
	.exportpdf list point > num {
		padding-bottom: 0px !important;
		padding-top: 0px !important;
	}
	
	.exportpdf list point content > aknp {
		padding-bottom: 0px !important;
		padding-top: 1px !important;
	}

	/*#2465*/
	.exportpdf formula #formula_dispongo {
	    text-align: center !important;
	}
	
	.exportpdf .leos-authnote {
	    display: block !important;
	    clear: none;
	}
	
	.exportpdf bill preamble mainbody formula * {
		display: block !important;
		text-align: justify !important;
	}

    .exportpdf location {
		display:inline-block !important;
    }

	/*#3149*/
	.exportpdf img {
		//mgm Tamaño en px para el escudo. en z-index 2 para que no afecte al resto de elementos de la plantilla, posición absoluta y coordenadas iz-abajo 0:1 
		margin-top: 75px !important;
		margin-left: -3.5cm;//<------------- cambio1716 margen escudo de 1.5 a -2.5 para que quede uno.
    }
    .exportpdf img:before {
        content: "Image preview not available: \A Title: " attr(title) "\A Alternative: " attr(alt);
        white-space: pre;
    }

//    .exportpdf mainbody division content {//<------------- cambio1353 no esta afectando a los articulos.
//        margin-left: 3cm; //<------------- cambio1353 comento para ver el efecto, debería quedar igual
//        margin-right: 3cm;
//    }

	.exportpdf article, proviso {
		display: block !important;		
		& > heading {
				padding-top: 2px;
		}
	}
	
	.exportpdf coverpage {
        padding-top: 0px !important;
        padding-bottom: -250px !important;
		
		.exportpdf container { 
	        & .exportpdf #coverpage__container_2 {  //<--Justo antes baja: añadido el .exportpdf a ver si aplica los estilos que no lo hace. Probar cuando se pueda. 
				width: 90%; //puede ser un poco más grande 
	            text-align: right !important;
	        }
	        & .exportpdf #coverpage__container_4 {
	            padding-right: -50px !important;
	            margin-bottom: -75px !important;
	        }
	    }
		.exportpdf container#coverpage__container_3 {
			padding-right: -50px !important;
			margin-bottom: -75px !important;
		}
    }
	
	.exportpdf paragraph {
		clear:both;
		text-indent: 35px;
		
		& > num {
		    display: block;
			clear: none;
			margin-left: 0px !important;
			padding-bottom: 0px !important;
			padding-top: 0px !important;
			& + subparagraph {
                & ~ subparagraph{
                    display: block;
                }
            }
		}
		& > content > aknP {
			display: block !important;
		    padding-bottom: 0px !important;
		    padding-top: 1px !important;
		}
		& > num+content {
		    //display: block;
		    clear: none;
		    margin-left: 0px !important; 
		    padding-bottom: 0px !important;
		    padding-top: 0px !important;  
		}
	}

	.exportpdf subparagraph {
		& > num+content {
		    //display: block;
		    clear: none;
		    margin-left: 60px !important;
		    padding-bottom: 0px !important;
		}
		
		& > content > aknP {
			display: block !important;
		    padding-bottom: 0px !important;
		    padding-top: 1px !important;
		}
	}
	
//	.exportpdf recital {  
//			margin-left: 0cm !important; //Intento pisar los margenes que tienen los recital por css del propio canto dorado
//        	margin-right: 0cm !important;
//    }

	.exportpdf conclusions {
		//reinicio de estilos:
		padding-top: 0em !important;
		padding-left: 0em !important; 
		padding-right: 0em !important; 
		margin: 0em;
		width: 100%  !important; 
		display:block;
		#conclusions__block_1__signature_1__person {
			float:right;
			font-size: 14px !important; 
        }
	}
	
	.exportpdf signature {
		font-size: 11px !important; 
		& > role, & > person {
			width: 60%  !important; 
			float:left;
			text-align: center;
		}
	}
	
	//Solución anexos
	.exportpdf doc[name="ANNEX"]{
		preface{
			text-align: center; 
			font-weight: bold;
		}
		longtitle{
			text-align: center; 
			font-weight: bold;
		}
		level {
			display:block;
		    num {
		      	float: left;
		      	margin-right: 19px;
				line-height: 34px;
		    }
		    & > heading {
		      	line-height: 34px;
		    }
		    & > content {
		      	> aknP {
	        		line-height: 34px;
		        	padding-left: 34px;
		      	}
		    }
		}
		
		article {
			& > num {
		      	float: left;
				margin-right: 19px;
		    }
		  	& > heading {
				float: center;
	    	}
			& > paragraph {
				& > num {
		      		float: left;
					margin-top: 1px;
		    	}
				& > aknp {
		      		float: center;
					padding-bottom: 1px;
		    	}
			}
		}
		
		part, book, chapter, section {
		    & > num {
		      	text-align: center;
				line-height: 34px;
		    }
		    & > heading {
				text-align: center;
				line-height: 34px;
		    }
		}
		
	}
}
