@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$HEADER_BLUE:#0065A2;
$ACTION_BORDER:#ADBDCE;
$ACTION_BACKGROUND:#FFFAFF;

%elementActions {

    %elementEditable {
        border: solid 1px transparent;
        margin: 0 -5px;
        padding: 0px 5px;
        min-height: 38px;
    }

    %contentEditable {
        background-color: $ACTION_BACKGROUND;
        border-color: $ACTION_BORDER;
    }

    [leos\:editable=true]:not(signature):not(role):not(person),
    .leos-placeholder 
    {
        @extend %elementEditable;
			
    }

    article {
        @extend %elementEditable;
    }

    article.leos-editable-content {
        @extend %contentEditable;
    }

    article[leos\:origin='ec'] {
        .leos-editable-content, paragraph.leos-editable-content {
            @extend %contentEditable;
        }
        paragraph:not(.selectable-element-paragraph), alinea {
            @extend %elementEditable;
        }
        subparagraph {
            @extend %elementEditable;
            display: block;
        }
        point {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
        }
        indent {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
        }
        heading {
            @extend %elementEditable;
        }
    }

    part, aknTitle, chapter, section {
        heading {
            @extend %elementEditable;
        }
    }

    citations[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        citation {
            @extend %elementEditable;
        }
    }

    recitals[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        recital {
            @extend %elementEditable;
        }
    }

    level {
        @extend %elementEditable;
    }

    level.leos-editable-content {
        @extend %contentEditable;
    }

    level[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        subparagraph {
            @extend %elementEditable;
            display: block;
        }
        point {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
        }
        indent {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
        }
        alinea, heading {
            @extend %elementEditable;
        }
    }
    
    quotedstructure {
        :first-child {
            &.leos-editable-content {
                @extend %contentEditable;
            }
        }
    }    

    .leos-placeholder {
        border-color: $ACTION_BORDER;
    }

    .leos-editable-content { 
        @extend %contentEditable;
    }

    .leos-actions, .leos-actions-icon {
        position: absolute;
        width: 20px;
        user-select: none;
        color: $HEADER_BLUE;
        * {
            margin-top: 3px;
            cursor: pointer;
            display: none;
            font-weight: normal;
        }
    }
}