//------------------------------- XML Styles --------------------------------//
%xmlFormula {
    formula {
        display: block;        
		text-align: justify;
        & > aknP, & > p {
            @extend %paddedText;
            display: block;
    	}
         #formula_dispongo {
        	text-align: center;
        }
    }
}

%tocFormula {
    formula {
        & > aknP, & > p {
            @extend %clearTopText;
        }
    }
}


//------------------------------- Editor Styles -----------------------------//
%editorFormula {
    p[data-akn-name="formula"] { 
    	text-align: center;
        @extend %paddedText;
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockFormula {
    p[data-akn-name="formula"] {
            @include blockOutline("FORMULA");
        }
}

