@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

%table {
    table {
        border-collapse: collapse;
        border-color: grey;
        empty-cells: show;
        margin-left: auto;
        margin-right: auto;
        display: table;
        aknP,
        p {
            display: block;
        }
        & > caption {
            display: table-caption;
            text-align: center;
        }

        & {
            * > td, th {
                border: 1px solid grey;
            }
            * > tr:first-child th, tr:first-child td {
                border-top: 1px solid black;
            }
            * > tr:last-child th, tr:last-child td {
                border-bottom: 1px solid black;
            }
            * > tr td:first-child, tr th:first-child {
                border-left: 1px solid black;
            }
            * > tr td:last-child, tr th:last-child {
                border-right: 1px solid black;
            }
        }

        & > tr {
            display: table-row;
            &:first-child { // for XML styling
                display: table-header-group;
                font-weight: bold;
            }
        }

        td, th {
            // extra spacing for improved readability
            display: table-cell;
            & > aknP,
            & > p { //for XML styling
                padding: 5px;
            }
        }
    }
}

.v-table-cell-wrapper:hover {
	white-space: normal;
	text-overflow: initial;
	overflow: unset;
	padding-bottom: 10px;
	text-align: justify;
}

.v-table-cell-wrapper  > .v-widget {
	margin: 2px -5px;
}

%tableMargin {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

//--------------------------------XML table-----------------------------------/

%xmlTable {
    @extend %table;
}

//--------------------------------Editor table--------------------------------/

%editorTable {
    table p[data-akn-name="aknParagraph"] {
        @extend %simpleText;
    }
}

//--------------------------------Showblock table-----------------------------/