@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$NUM_WIDTH: 40px;

//------------------------------- XML Styles --------------------------------//
%xmlArticleRule {
    
	article { 
		rule {
	        display: block;
	        position: relative;
			
	        & > content > aknp { 
	         	display: block;
	            clear: both;
	            text-indent: 35px;
				text-align: justify;
				padding-bottom: 0.5em;
	            & > table { 
	               @extend %tableMargin;
	            }
	        }
	        
	        & > p { 
	        	text-indent: 25px;
	            margin-left: 35px;
	        }
	    }
	}
}

%tocArticleRule {
	article{
	  rule {
	    & > content {
	      & > aknP, & > p {
	        @extend %clearTopText;
	      }
	    }
	  }
	}
}

//------------------------------- Editor Styles -----------------------------//
%editorArticleRule {

	/**article > ol > li > rule > p {
		text-indent: 25px;
        margin-left: 75px;
      }

  	ol > li > rule > p {
        text-indent: 25px;
        margin-left: 75px;
        }*/
}

//------------------------------- Showblock Styles --------------------------//
%showblockArticleRule {
   article > ol > li > paragraph > rule {
        @include blockOutline("RULE");

        & > p, & > ol, & > table {  //LEOS-2333. Only set margin for specific elements not on inline elements
            margin-left: $NUM_WIDTH;
        }
    }
}
