@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$NUM_WIDTH: 40px;

//------------------------------- XML Styles --------------------------------//
%xmlQuotedStructure {

	.amendment-editButton {
		padding-bottom: 25px !important;
	}	
	
	quotedstructure:empty {
	    display:none;
	}
	
	quotedstructure > paragraph:first-child > num:nth-of-type(1):before  {
 		content: "«";
	}
	
	quotedstructure > point:first-child > num:nth-of-type(1):before  {
 		content: "«";
	}
	
	quotedstructure > article > num:nth-of-type(1):before {
	 	content: "«";
	}
	
	quotedstructure > article > paragraph:last-child > content > aknp:nth-of-type(1):after {
	  	content: "»";
	}
	
	quotedstructure > proviso > num:nth-of-type(1):before {
	 	content: "«";
	}
	
	quotedstructure > proviso > paragraph:last-child > content > aknp:nth-of-type(1):after {
	  	content: "»";
	}

	quotedstructure > paragraph > content > aknp:nth-of-type(1):after {
	  	content: "»";
	}
	
	quotedstructure > point > content > aknp:nth-of-type(1):after {
	  	content: "»";
	}
	
	quotedstructure > paragraph >  list:last-child > point:last-child > content > aknp:nth-of-type(1):after {
	  content: "»";
	}
	
	quotedstructure > paragraph > subparagraph:last-child > content > aknp:nth-of-type(1):after {
  	  	content: "»";
	}
	
	quotedstructure > paragraph > list:last-child > point:last-child >  alinea:last-child > content > aknp:nth-of-type(1):after{
  	  	content: "»";
	}
	
	quotedstructure > paragraph >  list:last-child > point:last-child > list:last-child > point:last-child >  alinea:last-child > content > aknp:nth-of-type(1):after {
        content: "»";
    }

	quotedstructure > paragraph > subparagraph:first-child > content > aknp:nth-of-type(1):before  {
  	  	content: "«";
	}
	
	quotedstructure > point > alinea:last-child > content > aknp:nth-of-type(1):after  {
	  	content: "»";
	}
	
	quotedstructure > heading:before {
    	content: "«";
    } 
	
	quotedstructure > heading:after {
    	content: "»";
    }
	
	quotedstructure > heading {
		float: left;
	    text-indent: 38px; // Si no no indenta el titulo.
	}
	
	mod {
        display: block;
        position: relative;
        inline {
        	display: none;
        }
	}
	
    quotedstructure {
		padding-top: 13px !important;
        display: block;
        position: relative;
        point{
            & > num{
                padding-bottom: 0px;
               // padding-top: 0px;
                padding-left: 3px;
    			margin-right: 5px;
    			text-indent: 35px;    				
                    }
            }
		
        & > content > aknp {
         	display: block;
            clear: both;
            text-indent: 35px;
			text-align: justify;
			padding-bottom: 0px;
            & > table {
               @extend %tableMargin;
            }
        }
        
        & > aknP, & > p {
        	text-indent: 25px;
            margin-left: 35px;
        }
    }
    
    quotedstructure:last-child {
    	margin-bottom : 25px;
    }
}


%tocQuotedStructure {
  quotedstructure {
    & > content {
      & > aknP, & > p {
        @extend %clearTopText;
      }
    }
  }
}

//------------------------------- Editor Styles -----------------------------//
%editorQuotedStructure{
	/**article > ol > li > rule > p {
		text-indent: 25px;
        margin-left: 75px;
      }

  	ol > li > rule > p {
        text-indent: 25px;
        margin-left: 75px;
        }*/
}

//------------------------------- Showblock Styles --------------------------//

%showblockQuotedStructure {
   article > ol > li > paragraph > quotedstructure {
        @include blockOutline("quotedstructure");

        & > p, & > ol, & > table {  //LEOS-2333. Only set margin for specific elements not on inline elements
            margin-left: $NUM_WIDTH;
        }
    }


	   proviso > ol > li > paragraph > quotedstructure {
        @include blockOutline("quotedstructure");

        & > p, & > ol, & > table {  //LEOS-2333. Only set margin for specific elements not on inline elements
            margin-left: $NUM_WIDTH;
        }
    }
}
