@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//--------------------------------XML reference-------------------------------/
$BLUE_MARINE: #507C90;
$GREEN_LEOS: #38B64B;
%xmlReference {
    mref {
        display: inline;
        font-weight: normal;
        color: $GREEN_LEOS;
        outline: 1px dotted $GREEN_LEOS;
    }

    mref[#{"leos\\:broken"}] {
        color: red;
        font-style: italic;
        outline: 1px dotted red;
        &:after {
            display: inline;
            font-style: normal;
            font-family: "Vaadin-Icons";
            content: "warning";
            vertical-align: bottom;
        }
        & > ref {
            color: red; 
        }
    }

    ref {
        color: $GREEN_LEOS;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

//--------------------------------Editor reference-----------------------------/