@charset "UTF-8";
/**
 * Copyright 2020 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//AGE

@mixin exportPdf {    

    @page {
		size: A4;
        margin: 2.5cm 0;
        padding: 0;
    }

    .exportpdf coverpage {
        padding-top: 0px !important;
        padding-bottom: -250px !important;
    }

    .exportpdf coverpage container { 
        & #coverpage__container_2 { 
            text-align: right !important;
        }

        & #coverpage__container_4 {
            padding-right: -50px !important;
            margin-bottom: -75px !important;
        }
    }

	.exportpdf coverpage container#coverpage__container_3 {
		padding-right: -50px !important;
		margin-bottom: -75px !important;
	}

	.exportpdf preamble, aknbody, conclusions {
		margin: 0px;
		padding: 0px;
	}	
	
	.exportpdf citations citation aknp location {
		display: inline-block;
	}	

    .exportpdf preface {
		font-weight: bold;
        padding-top: 0px !important;
    }

	.exportpdf article > num
	{
		float:left;
		display: inline;
		padding-top: 0px;
		padding-bottom: 0px !important;
	}
	
	.exportpdf proviso > num
	{
		float:left;
		display: inline;
		padding-top: 0px;
		padding-bottom: 0px !important;
	}
	
	.exportpdf article > heading
	{
		display: block;
		padding: 0pt 5pt 6pt 0pt !important;
		text-align: justify !important;
		padding-top: 24px !important;
		line-height: 1.4em;
		margin-left: 0px !important;
		font-style: italic !important;
	}
	
	.exportpdf proviso > heading 
	{
		//display: block;
		padding: 0pt 5pt 6pt 0pt !important;
		text-align: justify !important;
		padding-top: 24px !important;
		line-height: 1.4em;
		margin-left: 0px !important;
	}
	
	.exportpdf article paragraph
	{
		border: none !important;
	}
	
	.exportpdf proviso paragraph 
	{
		border: none !important;
	}
	
	.exportpdf paragraph {
		clear:both;
	}
	
	.exportpdf paragraph aknp {
		padding-left: 0px !important;
	}
	
	.exportpdf list point > num {
		padding-bottom: 0pt !important;
		padding-top: 0pt !important;
	}
	
	.exportpdf list point content > aknp {
		padding-bottom: 0pt !important;
		padding-top: 1pt !important;
	}
	
	.exportpdf paragraph > num {
	    //display: block;
		clear: none;
	    margin-left: 0px !important;
	    padding-bottom: 0pt !important;
	    padding-top: 0pt !important;
	}
	
	.exportpdf subparagraph > num {
	    //display: block;
		clear: none;
	    margin-left: 0px !important;
	    padding-bottom: 0pt !important;
	    padding-top: 0pt !important;
	}
	
	.exportpdf paragraph > content > aknP {
		display: block !important;
	    padding-bottom: 0pt !important;
	    padding-top: 1pt !important;
	}
	
	.exportpdf paragraph > num+content {
	    //display: block;
	    clear: none;
	    margin-left: 0px !important;
	    padding-bottom: 0pt !important;
	    padding-top: 0pt !important;
	}
	
	.exportpdf subparagraph > content > aknP {
		display: block !important;
	    padding-bottom: 0pt !important;
	    padding-top: 1pt !important;
	}

    .exportpdf mainbody division content {
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }

	.exportpdf subparagraph > num+content {
	    //display: block;
	    clear: none;
	    margin-left: 60px !important;
	    padding-bottom: 0pt !important;
	    padding-top: 1px !important;
	}
	/*#2465*/
	.exportpdf formula #formula_dispongo {
	    text-align: center !important;
	}
	
	.exportpdf .leos-authnote {
	    display: block !important;
	    clear: none;
	}
	
	.exportpdf bill preamble formula * {
		display: block !important;
		text-align: justify !important;
	}
	
    .exportpdf article > num {
        //display: block;
	    text-align: left;
	    font-style: normal;
		font-weight: bold;
	    padding: 18pt 5pt 6pt 0pt;  
    }

    .exportpdf location {
		display:inline-block !important;
    }

    .exportpdf proviso > num {
        //display: block;
	    text-align: left;
	    font-style: normal;
		font-weight: bold;
	    padding: 18pt 5pt 6pt 0pt;  
    }

	//Solución anexos
	.exportpdf doc[name="ANNEX"]{
		margin-left: 2.5cm;
		
		preface {
			text-align: center; 
		}
		level {
			display:block;
		    num {
		      	float: left;
				margin-left: 2.5cm; 
		      	margin-right: 19px;
				line-height: 34px;
		    }
		    & > heading {
				margin-left: 2.5cm; 
		      	line-height: 34px;
		    }
		    & > content {
		      	> aknP {
					margin-left: 2.5cm; 
	        		line-height: 34px;
		        	padding-left: 34px;
		      	}
		    }
		}
		
		article {
		    & > num {
		      	margin-left: 2.5cm;
		    }
		  	& > heading {
				margin-left: 2.5cm; 
	    	}
			& > paragraph {
				& > num {
		      		float: left;
					margin-right: 19px;
					margin-top: 1px;
		    	}
				& > aknp {
		      		float: center;
		    	}
				margin-left: 2.5cm;
			}
		}
		
		part, book, chapter, section {
		    & > num {
		      	text-align: center;
				line-height: 34px;
		    }
		    & > heading {
				text-align: center;
				line-height: 34px;
		    }
		}
		
	}
	
}
