@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin editor() {
    .cke_editable {
        @extend %AGEeditorCitation;
        @extend %AGEeditorRecital;
        @extend %editorFormula;
        @extend %editorArticle;
        @extend %editorArticleParagraph;
        @extend %editorArticleSubParagraph;
        @extend %editorArticleAlinea;
        @extend %editorDisposition;
        @extend %editorDispositionParagraph;
        @extend %editorDispositionSubParagraph;
        @extend %editorDispositionAlinea;
        @extend %editorClause;
        @extend %AGEeditorList;
        @extend %editorTable;
        @extend %editorAuthorialNote;
        @extend %editorHeading;
        
        @extend %editorContentColor;
        @extend %editorBlur;
        @extend %editorFocus;
        
        @extend %editorWidget;
    }
    .cke_editable.cke_show_blocks {
        @extend %showblockCitations;
        @extend %AGEshowblockCitation;
        @extend %AGEshowblockRecitals;
        @extend %AGEshowblockRecital;
        @extend %showblockFormula;
        @extend %showblockArticle;
        @extend %showblockArticleParagraph;
        @extend %showblockArticleSubParagraph;
        @extend %showblockArticleAlinea;
        @extend %showblockDisposition;
        @extend %showblockDispositionParagraph;
        @extend %showblockDispositionSubParagraph;
        @extend %showblockDispositionAlinea;
        @extend %AGEshowblockList;
    }
}
