@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin xml {
    @include printUI;
    @include exportPdf;

    akomaNtoso {
        @extend %defaultBoxSizing;
        @extend %pageFont;

        bill {
            @extend %xmlCoverPage;
            @extend %xmlSecondPage;
        }
        meta *{
            display: none;
        }
    }

    bill {
        @include editor;

        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlAuthorialNote;
        @extend %comments;
        @extend %highlight;

        @extend %xmlPreamble;
        @extend %xmlCitation;
        @extend %xmlRecital;
        @extend %xmlLongTitle;
        @extend %xmlGuidance;

        @extend %xmlArticle;
        @extend %xmlArticleParagraph;
        @extend %xmlArticleSubParagraph;
        @extend %xmlArticleAlinea;
        @extend %xmlClause;
        @extend %xmlList;
        @extend %xmlTable;
        @extend %xmlImage;

        @extend %xmlHigherElements;
        @extend %xmlReference;
        @extend %compare;
        @extend %documentFooter;

        display: block;
    }

    div.leos-document-view div.leos-doc-content bill {
        @extend %soft;
    }

    div.leos-document-view div.leos-double-comparison-content bill {
        @extend %doubleCompare;
    }    
}
