.leos-filter-pane {
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin: -10px 0 .72em 0;
  padding: 1em;
  position: relative;
  background-color: $body-background;
  .leos-filter-pane__selected-filters {
    display: flex;
    max-height: 74px;
    overflow-y: auto;
    border: solid 1px #d3d3d3;
    margin: -12px -13px 10px -13px;
  }
  .leos-filter-pane__list-item {
    display: block;
    margin-left: -20px;
    padding-bottom: 10px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .leos-filter-pane__list-item-lbl {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
  .leos-filter-pane__list-item-value {
    display: inline-block;
    width: 75%;
  }
}

.leos-input-option {
  display: inline-block;
  >input {
    vertical-align: middle;
  }
  >span {
    vertical-align: middle;
  }
}

.leos-radio-option {
  padding-right: 20px;
}

.leos-text-input {
  width: 100%;
  height: 25px;
  border: solid 1px $gray-lighter;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

//override angular-multiple-select css
.form-item-container {
  .list-inline {
    li {
      margin: 3px;
      padding-left: 2px;
      padding-right: 2px;
      span {
        border: 1px solid $filter-choice-border-color;
        background-color: $filter-choice-bg-color;
      }
      input {
        width: 100px;
      }
    }
  }
}

//override angular-multiple-select css for summary
#filter-summary {
  overflow-y: auto;
  .form-item-container {
    border: none;
    .list-inline {
      li {
        span {
          padding: 2px;
          &.remove {
            display: none;
          }
        }
      }
      input {
        display: none;
      }
    }
  }
}

//used to hide default Hypothesis search component as the functionality is needed to run leos-filter-pane filters
.LEOS-HIDE {
  display: none;
}
