.leos-annotation-info {
  padding-top: 7px;
  font-weight: bold;
}

%leos-metadata-info {
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 0.5px; 
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.leos-metadata-info-0 {
  @extend %leos-metadata-info;
  color: blue;
}

.leos-metadata-info-1 {
  @extend %leos-metadata-info;
  color: purple;
}

.leos-metadata-info-2 {
  @extend %leos-metadata-info;
  color: green;
}

.leos-metadata-info-3 {
  @extend %leos-metadata-info;
  color: orangered;
}

.leos-metadata-info-4 {
  @extend %leos-metadata-info;
  color: violet;
}

.annotation-quote {
  color: $leos-annotation-text-color;
}