@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin xml {
	// no está utilizando este xml.
    @include printUI;
	@include exportPdf; 

    akomaNtoso {
        @extend %defaultBoxSizing;
        @extend %pageFont;

        bill {
            @extend %xmlCoverPage;
            @extend %xmlSecondPage;
        }
        
        doc[name="ANNEX" i] {
            @extend %xmlCoverPage;
            @extend %xmlSecondPage;
        }
        
        meta *{
            display: none;
        }
        
        coverpage {
        	display: none;
        }
    }

    bill {
        @include editor;

        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlAuthorialNote;
        @extend %xmlLongTitle;
        @extend %xmlDisposition;

        @extend %xmlArticle;
        @extend %xmlArticleParagraph;
        @extend %xmlArticleSubParagraph;
        @extend %xmlArticleRule;
        @extend %xmlQuotedStructure;
        @extend %xmlArticleAlinea;
        @extend %xmlDisposition;
        @extend %xmlDispositionParagraph;
        @extend %xmlDispositionSubParagraph;
		@extend %xmlDispositionRule;
        @extend %xmlDispositionAlinea;
        @extend %xmlTable;
        @extend %xmlImage;

        @extend %xmlHigherElements;
        @extend %compare;
        @extend %documentFooter;

        display: block;
    }
    
    doc[name="ANNEX" i] {
        @include editor;
        
		@extend %xmlAuthorialNote;
        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlLevel;
        @extend %xmlParagraph;
        @extend %xmlLongTitle;  
        @extend %xmlList;   
		@extend %xmlTable;
		@extend %xmlAnnexCoverPage;
		@extend %xmlAnnexPreface;
		@extend %compare;
        @extend %xmlHigherElements;
        @extend %xmlImage;
        @extend %documentFooter;
        @extend %xmlLevelSubParagraph;

        @extend %xmlArticle;
        @extend %xmlArticleParagraph;
        @extend %xmlArticleSubParagraph;
        @extend %xmlArticleAlinea;
        
        @extend %xmlArticleRule;
        @extend %xmlQuotedStructure;        
        @extend %xmlDisposition;
        @extend %xmlDispositionParagraph;
        @extend %xmlDispositionSubParagraph;
		@extend %xmlDispositionRule;
        @extend %xmlDispositionAlinea;

        display: block;
    }

    div.leos-document-view div.leos-doc-content bill {
        @extend %soft;
    }

    div.leos-document-view div.leos-double-comparison-content bill {
        @extend %doubleCompare;
    } 
    
    div.leos-document-view div.leos-doc-content annex {
        @extend %soft;
    }

    div.leos-document-view div.leos-double-comparison-content annex {
        @extend %doubleCompare;
    }    
}
