@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin xml {   

    akomaNtoso {
        @extend %defaultBoxSizing;
        @extend %pageFont;
        doc[name="REPORT"] {
            @extend %xmlCoverPage;
            @extend %xmlSecondPage;
        }
        meta *{
             display: none;
        }
    }
    
    // AKN styles
    doc[name="REPORT"] {
        @extend %xmlAuthorialNote;
        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlDivision;
        @extend %xmlLevel;
        @extend %xmlLongTitle;
        @extend %xmlList;
        @extend %xmlTblock;
        @extend %xmlTblockTitle;
        @extend %xmlBlockContainer;
        @extend %xmlParagraph;
        @extend %xmlTable;
        @extend %xmlGuidance;
        @extend %compare;
        @extend %xmlImage;
        @extend %documentFooter;
        @extend %xmlReportCoverPage;
        @extend %xmlHigherElements;
        @extend %xmlLevelSubParagraph;


        @include editor;
        
        display: block;
    }


    div.leos-report-view div.leos-doc-content doc[name="REPORT"] {
        @extend %soft;
    }
    
     div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] {
        @extend %doubleCompare;
    }
}
