@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] [leos\:editable=true]:not(signature):not(role):not(person),
doc[name="REPORT"] .leos-placeholder, doc[name="REPORT"] article, doc[name="REPORT"] article[leos\:origin='ec'] paragraph:not(.selectable-element-paragraph), doc[name="REPORT"] article[leos\:origin='ec'] alinea, doc[name="REPORT"] article[leos\:origin='ec'] subparagraph, doc[name="REPORT"] article[leos\:origin='ec'] point, doc[name="REPORT"] article[leos\:origin='ec'] indent, doc[name="REPORT"] article[leos\:origin='ec'] heading, doc[name="REPORT"] part heading, doc[name="REPORT"] aknTitle heading, doc[name="REPORT"] chapter heading, doc[name="REPORT"] section heading, doc[name="REPORT"] citations[leos\:origin='ec'] citation, doc[name="REPORT"] recitals[leos\:origin='ec'] recital, doc[name="REPORT"] level, doc[name="REPORT"] level[leos\:origin='ec'] subparagraph, doc[name="REPORT"] level[leos\:origin='ec'] point, doc[name="REPORT"] level[leos\:origin='ec'] indent, doc[name="REPORT"] level[leos\:origin='ec'] alinea, doc[name="REPORT"] level[leos\:origin='ec'] heading {
  border: solid 1px transparent;
  margin: 0 -5px;
  padding: 0px 5px;
  min-height: 38px;
}
doc[name="REPORT"] article[leos\:origin='ec'] .leos-editable-content, doc[name="REPORT"] citations[leos\:origin='ec'] .leos-editable-content, doc[name="REPORT"] recitals[leos\:origin='ec'] .leos-editable-content, doc[name="REPORT"] level[leos\:origin='ec'] .leos-editable-content, doc[name="REPORT"] quotedstructure .leos-editable-content:first-child, doc[name="REPORT"] .leos-editable-content {
  background-color: #FFFAFF;
  border-color: #ADBDCE;
}
doc[name="REPORT"] article[leos\:origin='ec'] subparagraph {
  display: block;
}
doc[name="REPORT"] article[leos\:origin='ec'] point {
  padding: 0 5px 0px 45px;
}
doc[name="REPORT"] article[leos\:origin='ec'] indent {
  padding: 0 5px 0px 45px;
}
doc[name="REPORT"] level[leos\:origin='ec'] subparagraph {
  display: block;
}
doc[name="REPORT"] level[leos\:origin='ec'] point {
  padding: 0 5px 0px 45px;
}
doc[name="REPORT"] level[leos\:origin='ec'] indent {
  padding: 0 5px 0px 45px;
}
doc[name="REPORT"] .leos-placeholder {
  border-color: #ADBDCE;
}
doc[name="REPORT"] .leos-actions, doc[name="REPORT"] .leos-actions-icon {
  position: absolute;
  width: 20px;
  user-select: none;
  color: #0065A2;
}
doc[name="REPORT"] .leos-actions *, doc[name="REPORT"] .leos-actions-icon * {
  margin-top: 3px;
  cursor: pointer;
  display: none;
  font-weight: normal;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] .leos-user-coedition {
  position: absolute;
  width: 20px;
  margin-top: 8px;
  user-select: none;
  color: #0065A2;
  display: inline-block;
}
doc[name="REPORT"] .leos-user-coedition * {
  font-weight: normal;
}
doc[name="REPORT"] .leos-user-coedition-self-user {
  color: #707070;
}
doc[name="REPORT"] .leos-user-coedition div {
  position: absolute;
  padding: 3px 7px;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Open Sans";
  color: white;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 999999;
}
doc[name="REPORT"] .leos-user-coedition a {
  color: white;
  text-decoration: underline;
}
doc[name="REPORT"] .leos-user-coedition a:hover {
  color: #7bd2f6;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] authorialNote[marker] {
  display: inline;
  font-size: 0.8em;
  line-height: 0.8em;
  vertical-align: baseline;
  position: relative;
  bottom: 0.5em;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}
doc[name="REPORT"] authorialNote[marker]:before {
  content: attr(marker);
  display: inline;
}
doc[name="REPORT"] authorialNote[marker]:hover > aknp, doc[name="REPORT"] authorialNote[marker]:hover > aknp:before, doc[name="REPORT"] authorialNote[marker]:hover > p, doc[name="REPORT"] authorialNote[marker]:hover > p:before {
  display: block;
}
doc[name="REPORT"] authorialNote[marker] > aknp, doc[name="REPORT"] authorialNote[marker] > p {
  display: none;
  bottom: 0;
  position: absolute;
  color: white;
  background-color: blue;
  border-radius: 7px;
  padding: 5px 15px;
  left: -1.5em;
  margin-bottom: 1.75em;
  white-space: nowrap;
}
doc[name="REPORT"] authorialNote[marker] > aknp:before, doc[name="REPORT"] authorialNote[marker] > p:before {
  bottom: 0;
  position: absolute;
  content: "";
  border-top: 0.6em solid blue;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 1.25em;
  margin-bottom: -0.6em;
}

doc[name="REPORT"] .cke_editable span .authorialnote {
  font-size: 0.8em;
  line-height: 0.8em;
  font-weight: bold;
  color: blue;
  vertical-align: super;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] .leos-authnote-table {
  display: table;
  word-break: break-all;
  word-wrap: break-word;
  table-layout: fixed;
}
doc[name="REPORT"] .leos-authnote {
  display: table-row;
}
doc[name="REPORT"] .leos-authnote marker {
  display: block;
  font-size: 0.7em;
  vertical-align: baseline;
  position: relative;
  bottom: 0.5em;
  font-weight: bold;
  color: blue;
  float: left;
  padding-bottom: 1em;
}
doc[name="REPORT"] .leos-authnote text {
  display: block;
  word-break: keep-all;
  margin-left: 1.2em;
}
doc[name="REPORT"] .leos-authnote[id] {
  cursor: pointer;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
akomaNtoso {
  font-family: Arial, "Times New Roman", Times, serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  word-wrap: break-word;
  color: black;
  line-height: 1.25em;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
akomaNtoso doc[name="REPORT"] coverPage {
  position: relative;
  display: block;
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm 2.5cm;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  white-space: normal;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

akomaNtoso doc[name="REPORT"] > :not(coverPage) {
  display: block;
  position: relative;
  width: 21cm;
  white-space: normal;
  background-color: white;
  padding-left: 2.5cm;
  padding-right: 2.5cm;
  margin-right: auto;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
akomaNtoso doc[name="REPORT"] > preface {
  padding-top: 2cm;
}
akomaNtoso doc[name="REPORT"] > :last-child {
  padding-bottom: 2cm;
  margin-bottom: 0.5cm;
}
akomaNtoso doc[name="REPORT"] > mainBody {
  min-height: calc(29.7cm - 125px);
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] longTitle > aknp > *, doc[name="REPORT"] longTitle > p > *, akomaNtoso doc[name="REPORT"] coverPage container[name=docLabel] > *, doc[name="REPORT"] formula, doc[name="REPORT"] block, doc[name="REPORT"] blockContainer > aknP, doc[name="REPORT"] blockContainer > p, doc[name="REPORT"] blockContainer > content > aknP, doc[name="REPORT"] blockContainer > content > p, doc[name="REPORT"] .cke_editable p[data-akn-name="aknParagraph"], doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] > li, doc[name="REPORT"] coverPage container[name=reportNumber] > *, doc[name="REPORT"] subparagraph > content > aknP, doc[name="REPORT"] subparagraph > content > p, doc[name="REPORT"] .cke_editable ol > li > p, doc[name="REPORT"] tblock > num, doc[name="REPORT"] tblock > heading {
  margin: 0;
}

doc[name="REPORT"] longTitle > aknp > *, doc[name="REPORT"] longTitle > p > *, akomaNtoso doc[name="REPORT"] coverPage container[name=docLabel] > *, doc[name="REPORT"] formula, doc[name="REPORT"] block, doc[name="REPORT"] blockContainer > aknP, doc[name="REPORT"] blockContainer > p, doc[name="REPORT"] blockContainer > content > aknP, doc[name="REPORT"] blockContainer > content > p, doc[name="REPORT"] .cke_editable p[data-akn-name="aknParagraph"], doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] > li, doc[name="REPORT"] coverPage container[name=reportNumber] > *, doc[name="REPORT"] subparagraph > content > aknP, doc[name="REPORT"] subparagraph > content > p, doc[name="REPORT"] .cke_editable ol > li > p {
  padding-top: 0pt;
  padding-bottom: 0pt;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] longTitle {
  font-weight: bold;
  text-align: center;
}
akomaNtoso doc[name="REPORT"] coverPage longTitle > aknp, doc[name="REPORT"] longTitle > aknp, akomaNtoso doc[name="REPORT"] coverPage longTitle > p, doc[name="REPORT"] longTitle > p {
  text-decoration: none;
  display: block;
}
doc[name="REPORT"] longTitle > aknp > *, doc[name="REPORT"] longTitle > p > * {
  display: block;
}
doc[name="REPORT"] longTitle > aknp > docstage, doc[name="REPORT"] longTitle > p > docstage {
  font-weight: normal;
}
doc[name="REPORT"] longTitle > aknp > doctype, doc[name="REPORT"] longTitle > p > doctype {
  text-transform: uppercase;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] .cke_editable *[contenteditable="false"] {
  color: #808080;
}
doc[name="REPORT"] .cke_editable *[contenteditable="true"] {
  color: black;
}

doc[name="REPORT"] .leos-editor-blur.cke_editable {
  background-color: #FFFAFD;
  border-color: #ADBDCE;
}

doc[name="REPORT"] .leos-editor-focus.cke_editable {
  background-color: #FFFAFD;
  border-color: #ADBDCE;
}

doc[name="REPORT"] .cke_editable .cke_widget_wrapper:hover .cke_widget_editable, doc[name="REPORT"] .cke_editable .cke_widget_wrapper:hover .cke_widget_element {
  outline: 2px solid #AACCEE;
}

akomaNtoso *,
akomaNtoso *:before,
akomaNtoso *:after {
  box-sizing: border-box;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] table {
  border-collapse: collapse;
  border-color: grey;
  empty-cells: show;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
doc[name="REPORT"] table aknP,
doc[name="REPORT"] table p {
  display: block;
}
doc[name="REPORT"] table > caption {
  display: table-caption;
  text-align: center;
}
doc[name="REPORT"] table * > td, doc[name="REPORT"] table th {
  border: 1px solid grey;
}
doc[name="REPORT"] table * > tr:first-child th, doc[name="REPORT"] table tr:first-child td {
  border-top: 1px solid black;
}
doc[name="REPORT"] table * > tr:last-child th, doc[name="REPORT"] table tr:last-child td {
  border-bottom: 1px solid black;
}
doc[name="REPORT"] table * > tr td:first-child, doc[name="REPORT"] table tr th:first-child {
  border-left: 1px solid black;
}
doc[name="REPORT"] table * > tr td:last-child, doc[name="REPORT"] table tr th:last-child {
  border-right: 1px solid black;
}
doc[name="REPORT"] table > tr {
  display: table-row;
}
doc[name="REPORT"] table > tr:first-child {
  display: table-header-group;
  font-weight: bold;
}
doc[name="REPORT"] table td, doc[name="REPORT"] table th {
  display: table-cell;
}
doc[name="REPORT"] table td > aknP, doc[name="REPORT"] table td > p, doc[name="REPORT"] table th > aknP, doc[name="REPORT"] table th > p {
  padding: 5px;
}

.v-table-cell-wrapper:hover {
  white-space: normal;
  text-overflow: initial;
  overflow: unset;
  padding-bottom: 10px;
  text-align: justify;
}

.v-table-cell-wrapper > .v-widget {
  margin: 2px -5px;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
akomaNtoso doc[name="REPORT"] coverPage {
  display: block;
}
akomaNtoso doc[name="REPORT"] coverPage img {
  width: 326px;
  height: 86px;
}
akomaNtoso doc[name="REPORT"] coverPage container[name=language] {
  font-weight: bold;
  position: absolute;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24pt;
  bottom: 2cm;
}
akomaNtoso doc[name="REPORT"] coverPage container[name=language]:before {
  content: attr(data-lang);
  float: left;
  margin-left: -1.2cm;
}
akomaNtoso doc[name="REPORT"] coverPage container[name=language]:after {
  content: attr(data-lang);
  float: right;
  margin-left: 15.8cm;
}
akomaNtoso doc[name="REPORT"] coverPage container[name=logo] {
  padding-bottom: 4.65cm;
  display: inline-block;
}
akomaNtoso doc[name="REPORT"] coverPage container[name=docLabel] > * {
  display: block;
  font-weight: bold;
  text-align: center;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] .guidance-green-block {
  display: block;
  color: green;
}
doc[name="REPORT"] .guidance-green-inline {
  display: inline;
  color: green;
}
doc[name="REPORT"] citation guidance.guidance-green-block {
  text-align: right;
  padding-right: 100px;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] .leos-content-removed, doc[name="REPORT"] .leos-content-removed * {
  text-decoration: line-through;
  color: red;
}

doc[name="REPORT"] .leos-content-new, doc[name="REPORT"] .leos-content-new * {
  text-decoration: underline;
  color: #26BC15;
}

doc[name="REPORT"] .leos-content-modified {
  display: block;
}
doc[name="REPORT"] .leos-marker-content-removed, doc[name="REPORT"] .leos-marker-content-added {
  visibility: hidden;
}
doc[name="REPORT"] .leos-content-new img {
  border: 3px solid #26BC15 !important;
}
doc[name="REPORT"] .leos-content-removed img {
  border: 3px solid red !important;
}
doc[name="REPORT"] table.leos-content-new, doc[name="REPORT"] tr.leos-content-new, doc[name="REPORT"] td.leos-content-new, doc[name="REPORT"] th.leos-content-new {
  border: 1px solid #26BC15;
  background-color: #DEFDDB;
}
doc[name="REPORT"] table.leos-content-removed, doc[name="REPORT"] tr.leos-content-removed, doc[name="REPORT"] td.leos-content-removed, doc[name="REPORT"] th.leos-content-removed {
  border: 1px solid red;
  background-color: #FFD5D6;
}
doc[name="REPORT"] .leos-content-removed table {
  border: 1px solid red;
  background-color: #FFD5D6;
}
doc[name="REPORT"] .leos-content-new table {
  border: 1px solid #26BC15;
  background-color: #DEFDDB;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] img:before {
  content: "Image preview not available: \aTitle: " attr(title) "\a Alternative: " attr(alt);
  white-space: pre;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="move_to"] *:not([leos\:origin="cn"]):not(span), div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="move_to"] num[leos\:origin="ec"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="del"] *:not([leos\:origin="cn"]):not(span), div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="del"] num[leos\:origin="cn"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] span.leos-content-soft-removed {
  text-decoration: line-through;
  color: #A7A7A7;
}

div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="add"] *:not([leos\:origin="ec"]):not(span), div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="add"] num[leos\:origin="ec"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] span.leos-content-soft-new {
  font-weight: bold;
  text-decoration: none;
}

div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="move_from"] *:not([leos\:origin="cn"]):not(span):not(heading) {
  font-weight: normal;
  text-decoration: none;
}

div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="add"] num[leos\:origin="cn"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="add"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="move_to"] num[leos\:origin="cn"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed[leos\:softaction="move_to"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new[leos\:softaction="move_from"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new img, div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="add"] img,
div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="move_from"] img {
  border: 3px solid !important;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed img, div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="del"] img,
div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="move_to"] img {
  border: 1px dotted !important;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] table.leos-content-soft-new, div.leos-report-view div.leos-doc-content doc[name="REPORT"] table[leos\:softaction="add"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] table[leos\:softaction="move_from"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr.leos-content-soft-new, div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr[leos\:softaction="add"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr[leos\:softaction="move_from"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] td.leos-content-soft-new, div.leos-report-view div.leos-doc-content doc[name="REPORT"] td[leos\:softaction="add"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] td[leos\:softaction="move_from"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] th.leos-content-soft-new, div.leos-report-view div.leos-doc-content doc[name="REPORT"] th[leos\:softaction="add"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] th[leos\:softaction="move_from"] {
  border: 3px solid !important;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] table.leos-content-soft-removed, div.leos-report-view div.leos-doc-content doc[name="REPORT"] table[leos\:softaction="del"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] table[leos\:softaction="move_to"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr.leos-content-soft-removed, div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr[leos\:softaction="del"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] tr[leos\:softaction="move_to"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] td.leos-content-soft-removed, div.leos-report-view div.leos-doc-content doc[name="REPORT"] td[leos\:softaction="del"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] td[leos\:softaction="move_to"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] th.leos-content-soft-removed, div.leos-report-view div.leos-doc-content doc[name="REPORT"] th[leos\:softaction="del"], div.leos-report-view div.leos-doc-content doc[name="REPORT"] th[leos\:softaction="move_to"] {
  border: 1px dotted !important;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-removed table, div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="del"] table,
div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="move_to"] table {
  border: 1px dotted !important;
}
div.leos-report-view div.leos-doc-content doc[name="REPORT"] .leos-content-soft-new table, div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="add"] table,
div.leos-report-view div.leos-doc-content doc[name="REPORT"] [leos\:softaction="move_from"] table {
  border: 3px solid !important;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] *:not([leos\:origin="cn"]):not(span), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] *:not([leos\:origin="cn"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-removed-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="del"] *:not([leos\:origin="cn"]):not(span), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="del"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="del"] *:not([leos\:origin="cn"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="del"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] *:not([leos\:origin="cn"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] *:not([leos\:origin="cn"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-removed, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-removed-original {
  text-decoration: line-through;
  font-weight: bold;
}

div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="add"] *:not([leos\:origin="ec"]):not(span), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="add"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="add"] *:not([leos\:origin="ec"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="add"] num[leos\:origin="ec"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-added, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-added-original {
  font-weight: bold;
}

div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] *:not([leos\:origin="cn"]):not(span), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] *:not([leos\:origin="cn"]):not(span),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-removed-intermediate {
  text-decoration: line-through underline solid;
}

div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="add"] *:not([leos\:origin="ec"]):not(span), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="add"] num[leos\:origin="ec"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] span.leos-double-compare-added-intermediate {
  font-weight: bold;
  text-decoration: underline solid;
}

div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] *:not([leos\:origin="cn"]):not(span):not(heading),
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] *:not([leos\:origin="cn"]):not(span):not(heading), div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="move_from"] *:not([leos\:origin="cn"]):not(span):not(heading) {
  font-weight: normal;
  text-decoration: underline white solid;
}

div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="del"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="del"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="del"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="del"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="del"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed[leos\:softaction="move_to"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original[leos\:softaction="move_to"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate[leos\:softaction="move_to"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="add"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="add"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="add"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="add"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="add"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="add"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="move_from"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate[leos\:softaction="move_from"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] num[leos\:origin="cn"], div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added[leos\:softaction="move_from"] num[leos\:origin="ec"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] num[leos\:origin="cn"],
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original[leos\:softaction="move_from"] num[leos\:origin="ec"] {
  padding-bottom: 0;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-retain-original {
  text-decoration: underline;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original img, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate img {
  border: 3px solid !important;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original img, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate img {
  border: 1px dotted !important;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] table.leos-double-compare-added-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] table.leos-double-compare-added-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] tr.leos-double-compare-added-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] tr.leos-double-compare-added-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] td.leos-double-compare-added-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] td.leos-double-compare-added-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] th.leos-double-compare-added-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] th.leos-double-compare-added-original {
  border: 3px solid;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] table.leos-double-compare-removed-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] table.leos-double-compare-removed-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] tr.leos-double-compare-removed-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] tr.leos-double-compare-removed-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] td.leos-double-compare-removed-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] td.leos-double-compare-removed-original, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] th.leos-double-compare-removed-intermediate, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] th.leos-double-compare-removed-original {
  border: 1px dotted;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-intermediate table, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-removed-original table {
  border: 1px dotted;
}
div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-intermediate table, div.leos-report-view div.leos-double-comparison-content doc[name="REPORT"] .leos-double-compare-added-original table {
  border: 3px solid;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] part {
  display: block;
}
doc[name="REPORT"] part > num, doc[name="REPORT"] part > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
}
doc[name="REPORT"] book {
  display: block;
}
doc[name="REPORT"] book > num, doc[name="REPORT"] book > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
}
doc[name="REPORT"] aknTitle {
  display: block;
}
doc[name="REPORT"] aknTitle > num, doc[name="REPORT"] aknTitle > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
}
doc[name="REPORT"] chapter {
  display: block;
}
doc[name="REPORT"] chapter > num, doc[name="REPORT"] chapter > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
}
doc[name="REPORT"] section {
  display: block;
  text-align: center;
}
doc[name="REPORT"] section > num, doc[name="REPORT"] section > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
  display: inline-block;
  padding-left: 2pt;
}
doc[name="REPORT"] subsection {
  display: block;
  text-align: center;
}
doc[name="REPORT"] subsection > num, doc[name="REPORT"] subsection > heading {
  display: block;
  text-align: center;
  padding-top: 6pt;
  padding-bottom: 18pt;
  	/*
      @if $type=="part" {
         font-size: 18pt;
         font-weight: bold;
      }
       @else if $type=="book" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="aknTitle" {
         font-size: 18pt;
         font-weight: bold;
      }
      @else if $type=="chapter" {
         font-size: 16pt;
         font-weight: bold;
      }
      @else
  */
  display: inline-block;
  font-style: italic;
  padding-left: 2pt;
}
doc[name="REPORT"] conclusions {
  display: block;
  padding-top: 20pt;
}
doc[name="REPORT"] signature {
  display: block;
  font-style: normal;
}
doc[name="REPORT"] signature #conclusions__block_1__signature_1__person {
  text-align: right;
  padding-right: 32px;
}
doc[name="REPORT"] signature > * {
  display: block;
  text-align: center;
  font-style: italic;
}
doc[name="REPORT"] placeholder {
  display: inline;
  font-weight: bold;
  color: blue;
}
doc[name="REPORT"] omissis {
  display: inline;
  font-weight: bold;
}
doc[name="REPORT"] date {
  display: inline;
  font-weight: bold;
}
doc[name="REPORT"] formula {
  display: block;
}
doc[name="REPORT"] block {
  display: block;
}
doc[name="REPORT"] application {
  display: block;
  padding-top: 24pt;
  padding-bottom: 6pt;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] blockContainer aknP, doc[name="REPORT"] blockContainer p {
  display: block;
}
doc[name="REPORT"] blockContainer > aknP, doc[name="REPORT"] blockContainer > p {
  display: block;
}
doc[name="REPORT"] blockContainer > content > aknP, doc[name="REPORT"] blockContainer > content > p {
  display: block;
}

doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] > p[data-akn-name="aknParagraph"] {
  position: relative;
  outline: 1px dotted #808080;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 24px 0 8px 4px;
}
doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] > p[data-akn-name="aknParagraph"]:after {
  content: "PARAGRAPH";
  color: #808080;
  font-size: 9px;
  display: block;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 4px;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] blockList > item, doc[name="REPORT"] .cke_editable ul[data-akn-name="UnNumberedBlockList"] > li, doc[name="REPORT"] .cke_editable ol[data-akn-name="NumberedBlockList"] > li {
  padding-top: 6pt;
  padding-bottom: 6pt;
}

doc[name="REPORT"] blockList {
  display: block;
}
doc[name="REPORT"] blockList > item {
  display: block;
  padding-left: 1.5cm;
}
doc[name="REPORT"] blockList > item > num {
  min-width: 1.5cm;
  margin-left: -1.5cm;
  display: block;
  float: left;
}
doc[name="REPORT"] blockList > item > aknP, doc[name="REPORT"] blockList > item > p {
  display: block;
  position: relative;
}

doc[name="REPORT"] .cke_editable ul[data-akn-name="UnNumberedBlockList"], doc[name="REPORT"] .cke_editable ol[data-akn-name="NumberedBlockList"] {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
doc[name="REPORT"] .cke_editable ul[data-akn-name="UnNumberedBlockList"] > li, doc[name="REPORT"] .cke_editable ol[data-akn-name="NumberedBlockList"] > li {
  padding-left: 1.5cm;
  position: relative;
}
doc[name="REPORT"] .cke_editable ul[data-akn-name="UnNumberedBlockList"] > li:before, doc[name="REPORT"] .cke_editable ol[data-akn-name="NumberedBlockList"] > li:before {
  color: #808080;
  content: attr(data-akn-num);
  min-width: 1.5cm;
  margin-left: -1.5cm;
  float: left;
}

doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] ul[data-akn-name="UnNumberedBlockList"] li {
  position: relative;
  outline: 1px dotted #808080;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 24px 0 8px 60.69291px;
}
doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] ul[data-akn-name="UnNumberedBlockList"] li:after {
  content: "INDENT";
  color: #808080;
  font-size: 9px;
  display: block;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 4px;
}
doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] ol[data-akn-name="NumberedBlockList"] li {
  position: relative;
  outline: 1px dotted #808080;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 24px 0 8px 60.69291px;
}
doc[name="REPORT"] .cke_editable.cke_show_blocks div[data-akn-name="blockContainer"] ol[data-akn-name="NumberedBlockList"] li:after {
  content: "POINT";
  color: #808080;
  font-size: 9px;
  display: block;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 4px;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] level, doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] {
  display: block;
}

doc[name="REPORT"] level num {
  min-width: 15px;
  float: left;
  padding-top: 5pt;
  margin-right: 19px;
}
doc[name="REPORT"] level > heading {
  line-height: 34px;
}
doc[name="REPORT"] level > content > aknP {
  line-height: normal;
  padding-left: 34px;
  display: block;
  padding-top: 7px;
}

doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] > li:before {
  color: #808080;
  content: attr(data-akn-num);
  min-width: 15px;
  float: left;
  margin-right: 15px;
}
doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] > li > p {
  padding-left: 30px;
}
doc[name="REPORT"] .cke_editable ol[data-akn-name="aknLevel"] > li > h2[akn-element-heading] {
  padding-left: 25px;
}
doc[name="REPORT"] .cke_editable .akn-element-heading {
  text-align: left;
  font-weight: normal;
  padding: 0 0 9px 0;
}
doc[name="REPORT"] .cke_editable .akn-element-heading:hover {
  outline: 2px solid #47a4f5;
  display: block;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] division, doc[name="REPORT"] .cke_editable div[data-akn-name="division"] {
  display: block;
  min-height: 95px;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] tblock {
  display: block;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] tblock > num, doc[name="REPORT"] tblock > heading {
  font-weight: bold;
  display: table-cell;
}

doc[name="REPORT"] tblock > num {
  min-width: 1.5cm;
}
doc[name="REPORT"] mainBody > tblock > num, doc[name="REPORT"] mainBody > tblock > heading {
  font-variant: small-caps;
  padding: 18pt 0 6pt 0;
}
doc[name="REPORT"] mainBody > tblock > tblock > num, doc[name="REPORT"] mainBody > tblock > tblock > heading {
  padding: 6pt 0;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] blockContainer {
  display: block;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] coverPage container[name=reportNumber] {
  display: block;
  margin-bottom: 2cm;
  margin-left: 70%;
}
doc[name="REPORT"] coverPage container[name=reportNumber] > * {
  display: block;
}

/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
doc[name="REPORT"] subparagraph {
  display: block;
  padding-left: 18px;
}
doc[name="REPORT"] subparagraph > content > aknP, doc[name="REPORT"] subparagraph > content > p {
  display: block;
}
doc[name="REPORT"] num + subparagraph > content > aknp::before {
  display: none;
}

doc[name="REPORT"] .cke_editable ol > li > p:first-child {
  padding-top: 0;
}
doc[name="REPORT"] .cke_editable ol > li > p:last-child {
  padding-bottom: 0;
}

doc[name="REPORT"] num ~ subparagraph > content > aknp::before, doc[name="REPORT"] .cke_editable ol > li[data-akn-name="aknLevelSubParagraph"] > p:not(:first-of-type)::before {
  content: '';
  margin-right: 15px;
}

akomaNtoso meta * {
  display: none;
}

doc[name="REPORT"] {
  display: block;
}
