@charset "UTF-8";
/**
 * Copyright 2019 European Commission
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$NUM_WIDTH: 15px;
$OUTLINE_BLUE: #47a4f5;

%level {
  display: block;
}

%levelHeading{
  font-weight: bold;
  padding-top: 0pt;
}

//------------------------------- XML Styles --------------------------------//
%xmlLevel {
  level {
    @extend %level;

    num {
      min-width: $NUM_WIDTH;
      float: left;
      padding-top: 5pt;
      margin-right: 19px;
    }

    & > heading {
      line-height: 34px;
    }

    & > content {
      > aknP {
        line-height: normal;
        padding-left: 34px;
	    display: block;
	    padding-top: 7px;
      }
    }
  }
}

//------------------------------- Editor Styles -----------------------------//
%editorLevel {
  ol[data-akn-name="aknLevel"] {
    @extend %level;
    list-style-type: none;
    padding-left: 0;  // override default list padding
    margin: 0;        // override default list margin

    & > li {
      @extend %paddedText;

      &:before {
        color: $GREY_COLOR;
        content: attr(data-akn-num);
        min-width: $NUM_WIDTH;
        float: left;
        margin-right: 15px;
      }
      & > p {
        padding-left: 30px;
      }

      & > h2[akn-element-heading] {
        padding-left: 25px;
      }


    }
  }

  .akn-element-heading {
    text-align: left;
    font-weight: normal;
    padding: 0 0 9px 0;
  }

  .akn-element-heading:hover {
    outline: 2px solid $OUTLINE_BLUE;
    display: block;
  }
}

//------------------------------- Showblock Styles --------------------------//

