<header id="ec-html-bundle-top"  class="ec-header">
    <div class="top">
        <div class="content"><!-- AGE-CORE-3.0.0 -->
       		<div class="ec-header-user" location="reportIncidence"></div>
        	<div class="ec-header-user" location="detailsHelp"></div>
        	<div class="ec-header-user" location="downloadHelp">
        	</div>
            <div class="ec-header-user"  location="languagesDropdown"></div>
         	<div class="ec-header-user"  location="user"></div>
            <div class="logout-button ec-header-user"  location="logoutButton"></div>
        </div>
    </div>
    <div class="title">
        <div class="content">
            <div class="ec-header-application-title" location="applicationName"></div>
        </div>
    </div>
    <div class="sub-title">
        <div class="content">
            <div class="ec-header-logo" location="headerLogo"></div>
            <nav id="header-menu">
                <div class="home-icon" location="homeIcon"></div>
                <div class="breadcrumb" location="breadcrumb"></div>
                <div class="resize-button" location="resizeButton"></div>
            </nav>
        </div>
    </div>
</header>
