<div ng-transclude ng-if="!vm.enabled"></div>
<div class="excerpt__container" ng-if="vm.enabled">
  <div class="excerpt" ng-style="vm.contentStyle()">
    <div ng-transclude></div>
    <div ng-click="vm.expand()"
         ng-class="vm.bottomShadowStyles()"
         title="Show the full excerpt"></div>
    <div class="excerpt__inline-controls"
         ng-show="vm.showInlineControls()">
      <span class="excerpt__toggle-link" ng-show="vm.isExpandable()">
        … <a ng-click="vm.toggle($event)"
            title="Show the full excerpt"
            h-branding="accentColor, selectionFontFamily">(Show more)</a>
      </span>
      <span class="excerpt__toggle-link" ng-show="vm.isCollapsible()">
        <a ng-click="vm.toggle($event)"
            title="Show the first few lines only"
            h-branding="accentColor, selectionFontFamily">(Show less)</a>
      </span>
    </div>
  </div>
</div>
