<!-- New controls -->
<span class="login-text"
      ng-if="vm.newStyle && vm.auth.status === 'unknown'">⋯</span>
<span class="login-text"
      ng-if="vm.newStyle && vm.auth.status === 'logged-out'">
  <a href="" ng-click="vm.onSignUp()" target="_blank" h-branding="accentColor">Sign up</a>
  / <a href="" ng-click="vm.onLogin()" h-branding="accentColor">Log in</a>
</span>
<div ng-if="vm.newStyle"
     class="pull-right login-control-menu"
     dropdown
     keyboard-nav>
  <a role="button"
     class="top-bar__btn"
     data-toggle="dropdown"
     dropdown-toggle
     title="{{vm.auth.username}}">
    <i class="h-icon-account" ng-if="vm.auth.status === 'logged-in'"></i><!--
    !--><i class="h-icon-arrow-drop-down top-bar__dropdown-arrow"></i>
  </a>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row" ng-if="vm.auth.status === 'logged-in'">
      <span ng-if="!vm.shouldEnableProfileButton()"
            class="dropdown-menu__link dropdown-menu__link--disabled js-user-profile-btn is-disabled">
        {{vm.auth.displayName}}</span>
      <a ng-if="vm.shouldEnableProfileButton()"
         ng-click="vm.showProfile()"
         class="dropdown-menu__link js-user-profile-btn is-enabled"
         title="View all your annotations"
         target="_blank">{{vm.auth.displayName}}</a>
    </li>
    <!-- LEOS Changes start: Remove Account Settings
    <li class="dropdown-menu__row" ng-if="vm.auth.status === 'logged-in' && !vm.isThirdPartyUser()">
      <a class="dropdown-menu__link js-account-settings-btn" href="{{vm.serviceUrl('account.settings')}}" target="_blank">Account settings</a>
    </li>
    LEOS Changes End -->
    <li class="dropdown-menu__row">
      <a class="dropdown-menu__link js-help-btn" ng-click="vm.onShowHelpPanel()">Help</a>
    </li>
    <li class="dropdown-menu__row" ng-if="vm.shouldShowLogOutButton()">
      <a class="dropdown-menu__link dropdown-menu__link--subtle js-log-out-btn"
         href="" ng-click="vm.onLogout()">Log out</a>
    </li>
  </ul>
</div>

<!-- Old controls -->
<span ng-if="!vm.newStyle && vm.auth.status === 'unknown'">⋯</span>
<span ng-if="!vm.newStyle && vm.auth.status === 'logged-out'">
  <a href="" ng-click="vm.onLogin()">Log in</a>
</span>
<div ng-if="!vm.newStyle"
     class="pull-right login-control-menu"
     dropdown
     keyboard-nav>
  <span role="button" data-toggle="dropdown" dropdown-toggle>
    {{vm.auth.username}}<!--
    --><span class="provider"
             ng-if="vm.auth.provider">/{{vm.auth.provider}}</span><!--
    --><i class="h-icon-arrow-drop-down"></i>
  </span>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row" ng-if="vm.auth.status === 'logged-in'">
      <a class="dropdown-menu__link" href="{{vm.serviceUrl('account.settings')}}" target="_blank">Account</a>
    </li>
    <li class="dropdown-menu__row" >
      <a class="dropdown-menu__link" ng-click="vm.onShowHelpPanel()">Help</a>
    </li>
    <li class="dropdown-menu__row" ng-if="vm.auth.status === 'logged-in'">
      <a class="dropdown-menu__link" href="{{vm.serviceUrl('user',{user: vm.auth.username})}}"
         target="_blank">My Annotations</a>
    </li>
    <li class="dropdown-menu__row" ng-if="vm.auth.status === 'logged-in'">
      <a class="dropdown-menu__link" href="" ng-click="vm.onLogout()">Log out</a>
    </li>
  </ul>
</div>
