<div class="sheet" ng-if="vm.showSidebarTutorial() &&  !vm.isThemeClean">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create an annotation, select text and click the
        <i class="h-icon-annotate"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To add a note to the page you are viewing, click the
        <i class="h-icon-note"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a highlight, select text and click the
        <i class="h-icon-highlight"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To reply to an annotation, click the
        <i class="h-icon-annotation-reply"></i>&nbsp;<strong>Reply</strong>&nbsp;link.
      </p>
    </li>
    <!-- LEOS Changes: Don't show for share feature, for groups management
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To share an annotated page, click the
        <i class="h-icon-annotation-share"></i>&nbsp;button at the top.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a private group, select <strong>Public</strong>,
        open the dropdown, click&nbsp;<strong>+&nbsp;New&nbsp;group</strong>.
      </p>
    </li>
    -->
  </ol>
</div>
<div class="sheet sheet--is-theme-clean" ng-if="vm.showSidebarTutorial() && vm.isThemeClean">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header sidebar-tutorial__header--is-theme-clean">
    <i class="h-icon-annotate sidebar-tutorial__header-annotate" h-branding="accentColor"></i>
    Start annotating
  </h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
      <div class="sidebar-tutorial__list-item-content">
        Select some text to
          <span class="sidebar-tutorial__list-item-annotate">annotate</span>
          <svg-icon class="sidebar-tutorial__list-item-cursor" name="'cursor'"></svg-icon>
        or highlight.
      </div>
    </li>
    <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
      <div class="sidebar-tutorial__list-item-content sidebar-tutorial__list-item-content--is-theme-clean">
        Create page level notes
        <span class="sidebar-tutorial__list-item-new-note-btn" h-branding="ctaBackgroundColor">
          + New note
        </span>
      </div>
    </li>
    <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
      <div class="sidebar-tutorial__list-item-content">
        View annotations through your profile
        <i class="h-icon-account sidebar-tutorial__list-item-profile"></i>
        <i class="h-icon-arrow-drop-down sidebar-tutorial__list-item-drop-down"></i>
      </div>
    </li>
  </ol>
</div>
