<div ng-switch="vm.href">
  <span ng-switch-when=""
        class="{{ vm.className }}"
        title="{{ vm.absoluteTimestamp }}">
    {{ vm.absoluteTimestamp }}
  </span>
  <a ng-switch-default
     class="{{ vm.className }}"
     target="_blank"
     title="{{ vm.absoluteTimestamp }}"
     href="{{ vm.href }}">
     {{ vm.absoluteTimestamp }}
  </a>
</div>
